html {
  /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
  font-size: 10px;
  /* Google fonts 输出的 CSS */
  font-family: 'Open Sans', sans-serif;/*字体*/
  background-color: #00539F
}
img {
  display: block;  /*元素显示*/
  margin: 0 auto; /*外边距*/
}
body { /*页面*/
  width: 600px;
  margin: 0 auto;  /*  margin最外边距  padding最内边距*/
  background-color: #FF9500; /*背景色*/
  padding: 0 20px 20px 20px;  /*内边4个值*/  
  border: 4px solid ; /*中间实线边框*/
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;  /*阴影 1 水平2 垂直3模糊半径 4基色*/
  font-size: 40px;
  text-align: center;
}
h2 {
	font-size: 50px;
	text-align: right;
}
p {
  width: 600px;  /*元素的宽度*/
  border: 0px solid ; /*边框底纹*/
  color: black;
}
p, li {
  font-size: 20px;  /*大小*/
  /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
  line-height: 2;   /* 上下的密度*/
  letter-spacing: 2px;  /*左右的宽度*/
}